*{
    margin: 0;
    left: 0;
}

.sectionWelcome{
    padding: 8%;
    padding-top: 29%;
}
.h1Welcome{
    text-align: center;

}
.titleKeyword{
    text-align: center;
}
.divOfform {
flex-direction: column;}
@media (min-width: 660px) {

.sectionWelcome {
    padding: 5%;
    padding-top: 6%;
}
.btn{
    padding: 12px !important;
}

.btnSmall{
    padding: .375rem .75rem !important;
}

.btnAzZa {
    padding: 6px !important;
}
.h1Welcome {
    text-align: center;
    font-size: 65px;
}
}

@media (min-width: 1020px) {
    .sectionWelcome {
        padding: 5%;
        padding-top: 3%;
    }.h1Welcome {
    text-align: center;
    font-size: 89px;
}
.titleKeyword {
    padding: 27px;
    font-size: 30px;
}
}
.displayNone{
    display: none;
}


